<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>MAUSAM</title>
  <link rel="icon" href="https://images-na.ssl-images-amazon.com/images/I/61nuuPxUvaL.png" type="image/icon type">
  <link rel="stylesheet" href="./style/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,200" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.0/font/css/open-iconic-bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
.navbar{
        background-color: rgb(158, 203, 254);
      }
      .navbar-brand {
        font-size: 1.5rem;
        font-weight: bold;
        color: #ffffff;
      }

      .navbar-nav .nav-link {
        color: #ffffff;
      }

      .navbar-nav .nav-link:hover {
        color: #ddd;
      }
      
      table, th, td {
    border: 2px solid black;
    border-collapse: collapse; 
    padding: 8px; 
    text-align: center; 
    font-size: medium;
}


table {
    width: 70%;
    margin-top: 3rem;
    margin-left: 3rem;
   
}
.details-container{
  display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 2rem;
        position: relative;
        background-attachment: fixed;
  
}

.details-container::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
        z-index: 1;
      }
  .details-table{
     background: rgba(255, 255, 255, 0.8);
        padding: 2rem;
        margin: 2rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;
        text-align: center;
        max-width: 800px;
        border-radius: 8px;
        position: relative;
        z-index: 2;
        margin-top: -95px;
  }
  </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg bgcolor">
    <div class="container-fluid">
      <div>
        <img src="https://images-na.ssl-images-amazon.com/images/I/61nuuPxUvaL.png" alt="" height="35px" width="35px"> 
        <a class="navbar-brand" href="/">MAUSAM</a>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/map">Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/about">About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/Details">Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/request">Request</a>
          </li>
        </ul>
        <form class="d-flex" role="search" id="searchForm">
          <input
            id="city"
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
            name="city"
          />
          <button class="btn btn-outline-success" type="submit">
            Search
          </button>
        </form>
      </div>
    </div>
  </nav>

  <div class="details-container">
   <table class="details-table">
    <tr>
      <th></th>
      <th>Troops</th>
      <th>Total Troops</th>
      <th>Deploy</th>
      <th>Available</th>
    </tr>
    <tr>
      <td><b>Medical</b></td>
      <td>20</td>
      <td>2000</td>
      <td>5</td>
      <td>1500</td>
    </tr>
    <tr>
      <td><b>Fire</b></td>
      <td>16</td>
      <td>1600</td>
      <td>0</td>
      <td>1600</td>
    </tr>
   
     <tr>
      <td><b>Flood</b></td>
      <td>17</td>
      <td>1700</td>
      <td>3</td>
      <td>1400</td>
    </tr>
    <tr>
      <td><b>Earthquake</b></td>
      <td>14</td>
      <td>1400</td>
      <td>0</td>
      <td>1400</td>
    </tr>
     <tr>
      <td><b>Cyclone</b></td>
      <td>15</td>
      <td>1500</td>
      <td>0</td>
      <td>1500</td>
    </tr>
   
    <tr>
      <td><b>Tsunami</b></td>
      <td>15</td>
      <td>1500</td>
      <td>0</td>
      <td>1500</td>
    </tr>
  </table>
    </div>

    </div>
    <footer>
    <div class="footer">
     <p> ©Copyright 2024 Mausam .All rightes reserved<span class="creatorname"> Design by Team-15</span></p>
    </div>
  </footer>
</body>
</html>