<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style/style1.css">
    <script>
        document.addEventListener('DOMContentLoaded', () => {
      const signupBtn = document.getElementById('signupBtn');
      const loginForm = document.getElementById('loginForm');

      signupBtn.addEventListener('click', () => {
        window.location.href = '/registration'; // Change this path if registration.html is in a different directory
      });

      loginForm.addEventListener('submit', (event) => {
        event.preventDefault(); // Prevent default form submission if you need custom handling
        const userType = document.getElementById('branch').value;
        if (userType === 'NDM') {
          window.location.href = '/ndm';
        } else if (userType === 'SDM') {
          window.location.href = '/sdm';
        }
      });
    });

    </script>


</head>
<body>
    <div class="container">
        <div class="box"></div>
        <div class="container-forms">
          <div class="container-info">
            <div class="info-item">
              <div class="table">
                <div class="table-cell">
                  <p>
                    Have an account?
                  </p>
                  <button type="submit" class="btn">
                    Log in
                  </button>

                </div>
              </div>
            </div>
            <div class="info-item">
              <div class="table">
                <div class="table-cell">
                  <p>
                    Don't have an account? 
                  </p>
                  <div class="btn" id="signupBtn">
                    Sign up
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-form">
            <form id="loginForm" action="/login" method="post">
            <div class="form-item log-in">
              <div class="table">
                <div class="table-cell">
                  <input name="username" placeholder="Username" type="text" required />
                  <input name="password" placeholder="Password" type="password" required />
                  <select name="branch" id="branch" required>
                    <option value="" disabled selected>Select your branch</option>
                    <option value="NDM">NDM</option>
                    <option value="SDM">SDM</option>
                  </select>
                  <div class="button-container">
                  <button type="submit" class="btn">
                    Log in
                  </button>
                   <button type="button" id="forgotPasswordBtn" class="btn forgot-password">
                    Forgot Password
                    </button>
                    </div>
                </div>
              </div>
            </div>
          </form>

            <div class="form-item sign-up">
              <div class="table">
                <div class="table-cell">
                  <input name="email" placeholder="Email" type="text" />
                  <input name="fullName" placeholder="Full Name" type="text" />
                  <input name="Username" placeholder="Username" type="text" />
                  <input name="Password" placeholder="Password" type="Password" />
                  <div class="btn">
                    Sign up
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</body>
</html>
